@import '../styles/variables.scss';
@import '../styles/newmorphic.scss';

.lobby {
    position: absolute;
    text-align: center;
    top: 0;
    background-color: $bg-color;
    border-bottom: 1px solid $border;
    width: 100vw;
    height: 100vh;
}

.lobby__header {
    box-shadow: $shadow-drop;
    color: $text-color;
    padding: 1rem;
    border-bottom: 1px solid $border;
}

.lobby__title {
    margin: 0 auto;
    max-width: $width-tablet;
}

.lobby__form {
    max-width: $width-mobile;
    margin: auto;
}

.lobby__button {
    width: 100%;
}