<section class="lobby">
    <nav class="lobby__header">
        <h1 class="lobby__title">Start a new session</h1>
    </nav>
    <div class="nm-form lobby__form">
        <p class="nm-formfield">
            <label class="nm-label" for="username">Your name: </label>
            <input id="username" placeholder="User Name" type="text" class="nm-input" [(ngModel)]="userName">
        </p>
        <p class="nm-formfield">
            <label class="nm-label" for="roomselect">Chat room: </label>
            <input name="roomSelector" class="nm-select" id="roomselect" [(ngModel)]="chatRoom">
        </p>
        <p class="nm-formfield">
            <button class="lobby__button nm-button" (click)="startSession()">Start session</button>
        </p>
    </div>
</section>