<section class="lobby">
    <div class="nm-form lobby__form">
        <p class="nm-formfield">
            <label class="nm-label" for="username">Your name: </label>
            <input id="username" placeholder="User Name" type="text" class="nm-input" [(ngModel)]="userName">
        </p>
        <p class="nm-formfield">
            <label class="nm-label" for="roomselect">Chat room: </label>
            <select name="roomSelector" class="nm-select" id="roomselect" [(ngModel)]="chatRoom">
                <option value="general">#general</option>
                <option value="arquiterture">#arquitecture</option>
                <option value="newideas">#new ideas</option>
                <option value="fridaydrinks">#friday drinks</option>
            </select>
        </p>
        <p class="nm-formfield">
            <button class="lobby__button nm-button" (click)="startSession()">Start session</button>
        </p>
    </div>
</section>