@import './styles/variables.scss';
@import './styles/newmorphic.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    box-shadow: $shadow-drop;
    color: $text-color;
    padding: 1rem;
    border-bottom: 1px solid $border;
    font-family: 'Source Sans Pro', sans-serif;
}

.header__title {
    margin: 0 auto;
    max-width: $width-tablet;
}