<nav class="header">
  <h1 class="header__title">#{{chatRoom}}</h1>
</nav>
<app-message-board [userId]="userId" ></app-message-board>
<section class="input-zone">
  <div class="input-zone__wrapper">
    <input class="input-zone__input nm-input" type="text" [(ngModel)]="tbMessage" (keyup)="listenKeyUp($event)"/>
    <button class="input-zone__button nm-button" (click)="sendOnClick()"></button>
  </div>
</section>
<ng-template [ngIf]="!closeLobby">
  <nav class="header">
    <h1 class="header__title">Start a new session</h1>
  </nav>
  <app-lobby 
    [userId]="userId" 
    (selectChatRoom)="onSelectChatRoom($event)" 
    (dismissLobby)="onDismissLobby($event)">
  </app-lobby>
</ng-template>

<router-outlet></router-outlet>