<nav class="header">
  <h1 class="header__title">{{username}}'s chat</h1>
</nav>
<section class="message-board">
  <ul class="message-list">
    <li *ngFor="let message of messages" class='message' [ngClass]="{'message--mine': message.author === userId}">
      <i class="message-pointer"></i>
      <h4 class="message--author">
        {{ message.author }}
      </h4>
      <p class="message--body"> {{ message.content }} </p>
    </li>
  </ul>
  <aside class="users-typing">
    <span *ngFor="let userTyping of usersTyping; let last = last">
      {{userTyping}}<ng-template [ngIf]="!last">, </ng-template>
    </span> 
    <ng-template [ngIf]="usersTyping.size">
      <span *ngIf="usersTyping.size > 1; else elseBlock"> are typing...</span>
      <ng-template #elseBlock> is typing...</ng-template>
    </ng-template>
  </aside>
</section>

<section class="input-zone">
    <input class="input-zone__input" type="text" [(ngModel)]="tbMessage" (keyup)="listenKeyUp($event)"/>
    <button class="input-zone__button" (click)="sendOnClick()"></button>
</section>

<router-outlet></router-outlet>